@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;600;700;800;900&display=swap");

/* Root - Global Colours */
:root {
  --primary: #6235d0;
  --primary-dark: #2b1c50;
  --secondary: #b6b2c4;
  --tertiary: #181c2a;
  --tertiary-light: #2e323d;

  --black: #000000;
  --white: #ffffff;
}

/* Reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: var(--black);
  font-size: 1.6rem;
}

/* Utilities */
.container-page {
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  transition: color 300ms ease, background-color 300ms ease;
  padding: 2rem 6rem;
  border-radius: 4rem;
  font-weight: bolder;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  color: var(--primary-dark);
  background: var(--white);
}

.btn-white {
  background: var(--white);
  color: var(--primary-dark);
}

.btn-white:hover {
  background: var(--primary);
  color: var(--white);
}

.btn-dark {
  border: 1px solid var(--tertiary-light);
  background: var(--tertiary);
  color: var(--white);
}

.btn-dark:hover {
  background: var(--white);
  color: var(--primary-dark);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.c-primary {
  color: var(--primary);
}

.c-primary-dark {
  color: var(--primary-dark);
}

.c-secondary {
  color: var(--secondary);
}

.c-tertiary {
  color: var(--tertiary);
}

.c-tertiary-light {
  color: var(--tertiary-light);
}

.c-white {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-tertiary-light {
  background-color: var(--tertiary-light);
}

.bg-white {
  background-color: var(--white);
}

.me-3 {
  margin-right: 3rem;
}

/* Navbar - Menu */
.navbar-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0;
  gap: 1rem;
}

.navbar-logo {
  width: 17rem;
  cursor: pointer;
}

.navbar-li:not(:last-of-type) {
  margin-right: 2.5rem;
}

.navbar-link {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: var(--secondary);
}

.navbar-link:hover {
  color: var(--primary);
}

/* Left Linear Gradient Image  */
.left-gradient-image {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

/* Header */
.header {
  position: relative;
  text-align: center;
  padding-top: 13rem;
}

.header-title {
  font-size: 10.5rem;
  line-height: 1;
}

.header-subtitle {
  font-size: 2rem;
  margin: 3rem 0;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.header-gradient-image {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 125rem;
}

/* The future is now */
.future-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 8rem 0;
}

.future-content {
  max-width: 50rem;
}

.future-content-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* The react frame for production */
.reactframework {
  background-image: radial-gradient(
    circle farthest-corner at 50% 0%,
    rgba(98, 53, 208, 0.5),
    #000 45%
  );
  text-align: center;
  padding: 13rem 0;
}

.reactframework-title {
  font-size: 10.5rem;
  line-height: 1;
}

.reactframework-subtitle {
  font-size: 1.8rem;
  margin: 3rem 0;
}

.reactframework-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* The Web SDK */
.web-title {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
}

.web-subtitle {
  text-align: center;
  max-width: 37rem;
  font-size: 1.8rem;
  margin: 3rem auto;
}

.web-features {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.web-feature {
  background: var(--tertiary);
  border: 1px solid var(--tertiary-light);
  padding: 2rem 2rem 0 2rem;
  border-radius: 2rem;
}

.web-feature-title {
  margin-bottom: 2rem;
}

.web-feature-desc {
  margin-top: 1rem;
}

.web-aditional {
  margin: 1.8rem 0;
  font-size: 1.3rem;
}

/* Footer */
.footer {
  position: relative;
  border-top: 1px solid var(--secondary);
  margin-top: 5rem;
  background-image: radial-gradient(
    circle farthest-corner at 70% 100%,
    rgba(73, 40, 156, 0.8) 11%,
    #000 35%
  );
  z-index: 10;
  overflow: hidden;
}

.footer-alignment {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: var(--secondary);
  padding: 9rem 0;
}

.footer-left-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  z-index: -15;
  width: 40rem;
}

.footer-title {
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-copyright,
.footer-link {
  font-size: 1.4rem;
}

.footer-li:not(:last-of-type) {
  margin-right: 2.5rem;
}

.footer-link {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: var(--secondary);
}

.footer-link:hover {
  color: var(--primary);
}

/* Medias Queryes */
/* 990px */
@media (max-width: 61.875em) {
  .footer-alignment {
    flex-direction: column;
    align-items: start;
  }

  .footer-copyright {
    align-self: center;
    text-align: center;
    margin-top: 2rem;
  }

  .navbar-li {
    display: none;
  }

  .header-title {
    font-size: 6rem;
  }

  .reactframework-title {
    font-size: 5rem;
  }
}

/* 490px */
@media (max-width: 30em) {
  .btn {
    width: 100%;
    display: block;
  }

  .navbar-alignment,
  .reactframework-buttons {
    flex-direction: column;
    gap: 1.4rem;
  }

  .footer-li {
    display: block;
  }

  .header-buttons {
    flex-direction: column;
    gap: 1.4rem;
  }
}
